# Emacs
*~
*#?*
# Binaries
*.o
*.d
bin
lib
# Crashes
core
core.*
# Qt
src/renderer/moc_window.cpp
src/renderer/moc_predefs.*
src/renderer/.qmake.stash
# Visual Studio
.vs
*.vcxproj.filters
*.vcxproj.user
packages
bin64
bind64
src/math/x64
src/renderer/x64
