# Emacs
*~
# Binaries
*.o
src/renderer/softrend
src/math_tests/math_tests
# Crashes
core
core.*
# Qt
src/renderer/moc_window.cpp
src/renderer/moc_predefs.*
src/renderer/.qmake.stash
# Assets
src/renderer/assets
